@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinsans/josefinsans.ttf") format("ttf");
  src: url("../fonts/josefinsans/josefinsans.woff") format("woff");
  src: url("../fonts/josefinsans/josefinsans.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinsans/josefinsansbold.ttf") format("ttf");
  src: url("../fonts/josefinsans/josefinsansbold.woff") format("woff");
  src: url("../fonts/josefinsans/josefinsansbold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Aveo";
  src: url("../fonts/aleo/aleoregular.ttf") format("ttf");
  src: url("../fonts/aleo/aleoregular.woff") format("woff");
  src: url("../fonts/aleo/aleoregular.woff2") format("woff2");
  font-weight: 400;
}
